<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="conexao" connectionString="Server=Tsa-db01\dev;Database=DZPP14-1; Trusted_Connection = Yes;Connect Timeout=10; Integrated Security=SSPI; Application Name=DzAnalyzer" />
    <add name="DZPP14-1ConnectionString" connectionString="Data Source=Tsa-db01\dev;Initial Catalog=DZPP14-1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>