h1{
	font-family: serif;
}

input, select{
	margin: 5px 48px 5px 30px;
	border-radius: 10px;
    background-color: lightyellow;
    color: darkblue;
    text-align: center;
}

textarea{
    border-radius: 10px;
}

span{
	font-family: sans-serif;
    margin: 5px;
}

body {
    color: #003366;
    font-family: sans-serif;
    background-image: url("FundoDotz.jpg");
    background-size: 1900px;
}

